*{
    box-sizing: border-box;
    padding: 10px;
}
body{
    background-color: white;
}
h1{
    padding: 10px;
}
h3{
    padding: 10px;
text-align: justify;
}
p{
    padding: 10px;
    text-align: justify;
}
table{
    width: 100%;
    border-collapse: collapse;
    color: white;
    padding: 20px;
}
td,th {
    /* border: 2px solid black; */
    text-align: left;
    padding: 8px;
  }
  #t01{
      background-color: #83c5be;
  }
  #t02{
    background-color: #c0d6df;
}
  #r01{
      background-color: #006d77;

  }
  #r02{
      background-color: #4f6d7a;
  }


  
